body {
   background-image: url(4k/4k.gif);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-color: 00e600;
   font-size: 25px;
   text-aling: center;
   font-family: "times New Roman";
   color: #ffff00;
}

h1{
   font-family: "Times New Roman";
   text-transform: uppercase;
   text-align: center;
   margin: 20px;
   padding: 40px;
   color: #ffff00;

}

h2{
   font-family: "Times New Roman";
   margin: 5px;
   padding: 20px;
   color: #ffff00;

}