body {
   background-image: url(4k/sad.gif);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-color: 00e600;
   font-size: 25px;
   text-aling: center;
   font-family: "Consolas";
   color: #ffff00;
}
h1{
  text-aling: center;
}

h2{
  text-aling: left;
  font-size: 22px;
}


